/*	
	style.css

	created by: Joe Kamibeppu
	created on: Feb 4, 2016
*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400');

h1 {
		font-size: 30px;
		font-family: 'Bookman', sans-serif;
		text-align: center;
}

h2 {
		font-size: 28px;
		font-family: 'Bookman', sans-serif;
}

h3 {
		font-size: 24px;
		font-weight: bold;
		font-family: 'Bookman', sans-serif;
		margin-top: 0;
		margin-bottom: 0;
}

img.headshot {
		display: block;
		margin: 0 auto;
}

a.link:link, a.link:visited {
		text-decoration: none;
		color: black;
}

a.link:hover {
		text-decoration: underline;
}

a.link:active {
		color: red;
}

body {
		margin-left: 15%;
		margin-right:15%;
		font-size: 16px;
		line-height: 1.25;
		font-family: 'Bookman', sans-serif;
}

p {
	    font-size: 20px;
		margin-top: 0;
		margin-bottom: 0;
}

.index {
		font-size: 30px;
		text-align: center;
}

.bio {
		margin-left: 25%;
		margin-right: 25%;
		font-size: 16px;
}

.contactinfo {
		font-size: 20px;
}

.bold {
		font-weight: bold;
		margin-top: 0;
		margin-bottom: 0;
}
